<table align="center" cellspacing="0" cellpadding="0" border="0">
<tr><th>Name</th><th>Value</th></tr>

{% for item in items %}
<tr>
<td width="50%" align="right">
<input type="text" id="name{{ forloop.counter }}" value="{{ item.name }}"
       onblur="fm('name{{ forloop.counter }}');" />
</td>
<td width="50%" align="left">
<input type="text" id="value{{ forloop.counter }}" value="{{ item.value|floatformat }}" 
       onblur="fm('value{{ forloop.counter }}');" />
</td>
</tr>
{% endfor %}
</table>

<br />

<center>
Range from <input type="text" size="4" id="r_min" value="{{ r_min|floatformat }}" onblur="data.set_min();"> to <input size="4" type="text" id="r_max" value="{{ r_max|floatformat }}" onblur="data.set_max();">.

</center>
