
<h3>Save and load data from database</h3>

<form action="/save" method="POST">
<table>
<tr>
<td width="50%" align="right">
<input type="text" name="f_savefile" value="" />
</td>
<td width="50%" align="left">
<input type="submit" name="f_save"  value="Save" />
</td>
</tr>
</table>
</form>

<form action="/load" method="POST">
<table>
<tr>
<td width="50%" align="right">
<input type="text" name="f_loadfile" value="" />
</td>
<td width="50%" align="left">
<input type="submit" name="f_load"  value="Load" />
</td>
</tr>
</table>
</form>
