	<table class="width_small" border="0" cellspacing="0" cellpadding="0">
	<tr><td><div class="height_arrow">
	      <img src="/images/up.png" alt="up" />
	</div></td></tr>
	<tr><td><div class="height_lsmall">
	      <img src="/images/" class="example_small" alt="example1" />
	</div></td></tr>
	<tr><td><div class="height_lmiddle">
	      <img src="/images/" class="example_middle" alt="example2" />
	</div></td></tr>
	<tr><td><div class="height_llarge">
	      <img src="/images/" class="example_large" alt="example3" />
	</div></td></tr>
	<tr><td><div class="height_lmiddle">
	      <img src="/images/" class="example_middle" alt="example4" />
	</div></td></tr>
	<tr><td><div class="height_lsmall">
	      <img src="/images/" class="example_small" alt="example5" />
	</div></td></tr>
	<tr><td><div class="height_arrow">
	      <img src="/images/down.png" alt="down" />
	</div></td></tr>
	</table>
