<table class="width_small" border="0" cellspacing="0" cellpadding="0">
  <tr>
  </tr>
  <tr>
    <td>
	<a href="javascript:" class="carousel-control" rel="prev">
	  <img id="carousel-arrow" src="/images/up.png" alt="up" />
	</a>
    </td>
  </tr>
  <tr>
    <div id="carousel-wrapper">
      <div id="carousel-content">
	{% for gen in generators %}
	<div class="slide">
	  <img src="/images/{{ gen.get_name }}-bars.png" alt="{{ gen.get_ui_name }}" onclick="gen('{{ gen.get_name }}');" />
	</div>
	{% endfor %}
    </div>
  </tr>
  <tr>
    <td>
	<a href="javascript:" class="carousel-control" rel="next">
	  <img id="carousel-arrow" src="/images/down.png" alt="down" />
	</a>
    </td>
  </tr>
</table>
