
 .yellow { background-color:yellow; }
 .green { background-color:green; }
 .white { background-color:white; }

 .width_bar { width: 15px; }
 .width_small { width: 100px; text-align: center; }
 .width_half { width: 350px; text-align: center; }
 .width_most { width: 710px; }
 .width_full { width: 770px; }
 .width_max { width: 800px; text-align: left; margin-left: auto; margin-right: auto; }
 .width_bspace { width: 70px; }
 .width_button { width: 100px; text-align: center; vertical-align: bottom; }
 .width_bbutton { width: 100px; text-align: center; vertical-align: bottom; }
 .width_edge { width: 50px; }
 .width_bbspace { width: 300px; }

 .button { margin: 0px 0px -5px 0px }
 .logo { margin: 0px 0px -5px 0px }
 .bbutton { margin: -5px 0px 0px 0px }

 .height_bar { height: 15px; }
 .height_bbuttons { height: 40px; }
 .height_hbuttons { height: 50px; }
 .height_hlogin { height: 30px; }
 .height_preview { height: 250px; }
 .height_lsmall { }
 .height_lmiddle { }
 .height_llarge { }

 .video { text-align: center; }

 .br_corner {
     height: 15px;
     width: 15px;
     background: url("/images/corners.png") bottom right no-repeat;
 }

 .bl_corner {
     height: 15px;
     width: 15px;
     background: url("/images/corners.png") bottom left no-repeat;
 }

 .tr_corner {
     height: 15px;
     width: 15px;
     background: url("/images/corners.png") top right no-repeat;
 }

 .tl_corner {
     height: 15px;
     width: 15px;
     background: url("/images/corners.png") top left no-repeat;
 }

 .llogin {
     text-align        : right;
     vertical-align    : middle;
     font-size         : 0.8em;
 }

 .logo_width {
     width             : 300px;
     text-align        : center;
     vertical-align    : bottom;
 }

 .generator_info {
     width             : 170px;
     vertical-align    : top;
     margin            : 5px 5px 5px 5px;
 }

 .attr_cell {
     height            : 25px;
     width             : 175px;
 }

 .preview_image {
     width             : 300px;
     height            : 200px;
     text-align        : center;
     vertical-align    : middle;
 }

 .info {
     height            : 590px;
     width             : 700px;
     margin            : 5px 5px 5px 5px;
 }

 .data {
     height            : 240px;
     width             : 700px;
     margin            : 5px 5px 5px 5px;
 }

 h1 {
     margin            : 0px 0px 0px 0px;
     padding           : 5px 5px 5px 5px;
 }

 h2 {
     margin            : 0px 0px 0px 0px;
     padding           : 5px 5px 5px 5px;
 }

 h3 {
     margin            : 0px 0px 0px 0px;
     padding           : 5px 5px 5px 5px;
 }

 body {
     background-color  : white;
     font-family       : Sans-serif;
     color             : black;
     text-align        : center;
 }

 #carousel-arrow {
     vertical-align    : middle;
     padding           : 2px 2px 2px 2px;
 }

 #carousel-wrapper {
    width              : 100px;
    height             : 180px;
    overflow           : hidden;
 }

 #carousel-content {
     width             : 100px;
 }

 #carousel-content .slide {
     width             : 100px;
     height            : 60px;
     text-align        : center;
 }

 .list_image {
     border-style      : outset;
     border-color      : black;
     border-width      : 2px;
 }

 a img { border: none; }
