
 .yellow { background-color:yellow; }
 .green { background-color:green; }
 .white { background-color:white; }

 .width_bar { width: 15px; }
 .width_small { width: 100px; text-align: center; }
 .width_medium { width: 170px; vertical-align: top; }
 .width_half { width: 350px; text-align: center; }
 .width_most { width: 710px; }
 .width_full { width: 770px; }
 .width_max { width: 800px; margin-left: auto; margin-right: auto; }
 .width_logo { width: 300px; text-align: center; vertical-align: bottom; }
 .width_bspace { width: 70px; }
 .width_button { width: 100px; text-align: center; vertical-align: bottom; }
 .width_bbutton { width: 100px; text-align: center; vertical-align: bottom; }
 .width_edge { width: 50px; }
 .width_bbspace { width: 300px; }

 .button { margin: 0px 0px -5px 0px }
 .logo { margin: 0px 0px -5px 0px }
 .bbutton { margin: -5px 0px 0px 0px }

 .height_bar { height: 15px; }
 .height_bbuttons { height: 40px; }
 .height_header { height: 80px; }
 .height_preview { height: 250px; }
 .height_arrow { height: 30px; }
 .height_lsmall { }
 .height_lmiddle { }
 .height_llarge { }
 .example_small { width: 25px; }
 .example_middle { width: 50px; }
 .example_large { width: 80px; }

 .attr_cell { height: 25px; }

 .preview_image {
     width             : 300px;
     height            : 200px;
     text-align        : center;
     vertical-align    : middle;
 }

 .info {
     height            : 590px;
     width             : 700px;
     margin            : 5px 5px 5px 5px;
 }

 .data {
     height            : 240px;
     width             : 700px;
     margin            : 5px 5px 5px 5px;
 }

 h1 {
     margin            : 0px 0px 0px 0px;
     padding           : 5px 5px 5px 5px;
 }

 h2 {
     margin            : 0px 0px 0px 0px;
     padding           : 5px 5px 5px 5px;
 }

 h3 {
     margin            : 0px 0px 0px 0px;
     padding           : 5px 5px 5px 5px;
 }

 body {
     background-color  : white;
     font-face         : Arial;
 }

 /* TODO: remove this as unused */
 a img {border: none;}
