<script type="text/javascript">

function send_feedback() {
  var fba = document.getElementById("feedback_area");
  fba.innerHTML = "Thank you.";
};

</script>

<div class="textpage">

<h2>About</h2>
<p>
<i>BeautyBar</i> is not yet fully working product, so one should be aware
that <b>all data can be removed without notice</b>, and also lots of other
development with ui, internal logics, etc. will happend.
</p>
<p>
Purpose of <i>BeautyBar</i> is to make one able to produce visually
attractive bar graphs in a simple way. These graphs can then be used to
make presentations and documents look more professional and nicer. Let's
not use always those old plain bar graphs in presentations!
</p>

<h2>Feedback</h2>
<p><span id="feedback_area">
Please send feedback and feature request to us.
</span></p>
<form action="/feedback" method="GET">
<p>
Your name: <input type="text" name="user" /><br />
Your message: <br />
<textarea name="feedback" cols="40" rows="3"></textarea>
<br />
<input type="submit" onclick="send_feedback();" value="Send Feedback" />
</p>
</form>

</div>
