<script type="text/javascript" src="/js/development/prototype.js"></script>
<script type="text/javascript">

function send_feedback() {
  $('feedback_form').request({
    onComplete: function(out){
      $('feedback_area').innerHTML = out.responseText.substr(4);
    }});
}

</script>

<div class="textpage">

<h2>About</h2>
<p>
<i>BeautyBar</i> is not yet fully working product, so one should be aware
that <b>all data can be removed without notice</b>, and also lots of other
development with ui, internal logics, etc. will happend.
</p>
<p>
Purpose of <i>BeautyBar</i> is to make one able to produce visually
attractive bar graphs in a simple way. These graphs can then be used to
make presentations and documents look more professional and nicer. Let's
not use always those old plain bar graphs in presentations!
</p>

<h2>Feedback</h2>
<span id="feedback_area">
<p>Please send feedback and feature request to us.</p>
<p>
<form id="feedback_form" method="POST" action="/feedback">
Your name: <input type="text" name="user" /><br />
Your message: <br />
<textarea name="feedback" cols="40" rows="3"></textarea>
<br />
<input type="button" onclick="send_feedback();" value="Send Feedback" />
</form>
</p>
</span>

</div>
