<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>BeautyBar Admin pages</title>
</head>
</body>

<h1>Admin pages</h1>

<h2>Local</h2>

<ul>
<li><a href="/admin/sessions">Sessions</a></li>
<li><a href="/admin/feedback">Feedback</a></li>
</ul>

<h2>Others</h2>

<ul>
<li><a href="https://appengine.google.com/dashboard?&app_id=beauty-bar">Dashboard</a></li>
<li><a href="https://www.google.com/analytics/settings/home?scid=11875256">Analytics</a></li>
<li><a href="https://www.google.com/webmasters/tools/dashboard?hl=en&siteUrl=http%3A%2F%2Fbeauty-bar.appspot.com%2F">Webmaster tools</a></li>
<li><a href=""></a></li>
<li><a href=""></a></li>
<li><a href=""></a></li>
</ul>

</body>
</html>
