<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />

{% if use_javascript %}
<!-- TODO: latest version of svgweb should support setting data-path
     with meta tag -->
<script type="text/javascript" src="/svgweb/svg.js" data-path="svgweb"></script>
{% if is_development %}
<script type="text/javascript" src="/js/development/prototype.js"></script>
<script type="text/javascript" src="/js/development/scriptaculous.js"></script>
{% else %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("prototype", "1.6.1.0");
  google.load("scriptaculous", "1.8.3");
</script>
{% endif %}
<script type="text/javascript" src="/js/jscolor/jscolor.js"></script>
<script type="text/javascript" src="/js/carousel-min.js"></script>
<script type="text/javascript" src="/js/beautybar.js"></script>
<script type="text/javascript" src="/js/lightbox.js"></script>
{% endif %}

{% if not is_development %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11875256-1");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}

{% if use_javascript %}
<link rel="stylesheet" href="/css/lightbox.css" type="text/css" media="screen" />
{% endif %}
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
<title>BeautyBar</title>
</head>
<body>

{% comment %}
TODO:
 + css: 
  + change "width_" (etc.) blocks to cover whole style of block, not
    only one aspect (width)
  + fonts and text colors

 + lets use active ("button"_on.png and "button"_off.png) buttons!!

{% endcomment %}

<table class="width_max" border="0" cellspacing="0" cellpadding="0">

<!-- header part -->
<tr>
  <td class="white width_bar"></td>
  <td colspan="5">
    <!-- header -->
    <table class="width_full" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="logo_width" rowspan="2">
	<img class="logo" src="/images/logo.png" alt="logo" />
      </td>
      <td colspan="4">
	<div class="height_hlogin llogin">
	  {% if user %}
	  <b>{{ user.nickname }}</b> | <a href="{{ user_url }}">Sign out</a>
	  {% else %}
	  <a href="{{ user_url }}">Log in</a>
	  {% endif %}
	</div>
      </td>
    </tr>
    <tr>
      <td class="width_bspace"><div class="height_hbuttons"></div></td>
      <td class="width_button">
	<a href="/">
	  <img class="button" src="/images/build_off.png" alt="build" />
	</a>
      </td>
      <td class="width_button">
	<a href="/learn">
	  <img class="button" src="/images/learn_off.png" alt="learn" />
	</a>
      </td>
      <td class="width_button">
	<a href="/about">
	  <img class="button" src="/images/about_off.png" alt="about" />
	</a>
      </td>
    </tr>
    </table>

  </td>
  <td class="white width_bar"></td>
</tr>

<!-- space -->
<tr>
  <td><div class="tl_corner"></div></td>
  <td class="green" colspan="5"></td>
  <td><div class="tr_corner"></div></td>
</tr>
<tr>
  <td class="green"></td>
  <td class="yellow" colspan="5"><div class="height_bar"></div></td>
  <td class="green"></td>
</tr>

{% if complex %}
{% include template %}
{% else %}
<!-- info part -->
<tr>
  <td class="green width_bar"></td>
  <td class="yellow width_bar"></td>
  <td class="green width_bar"></td>
  <td class="white width_most">

    <table class="width_most" cellspacing="0" border="0" cellpadding="0">
    <tr><td class="green"><div class="height_bar"></div></td></tr>
    <tr>
      <td>
	<div class="info">
	<!-- info content -->
	{% include template %}
	</div>
      </td>
    </tr>
    <tr><td class="green"><div class="height_bar"></div></td></tr>
    </table>

  </td>
  <td class="green width_bar"></td>
  <td class="yellow width_bar"></td>
  <td class="green width_bar"></td>
</tr>
{% endif %}

<!-- space -->
<tr>
  <td class="green"></td>
  <td class="yellow" colspan="5"><div class="height_bar"></div></td>
  <td class="green"></td>
</tr>
<tr>
  <td><div class="bl_corner"></div></td>
  <td class="green" colspan="5"><div class="height_bar"></div></td>
  <td><div class="br_corner"></div></td>
</tr>

</table>

</body>
</html>
