<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />

{% if use_javascript %}
<script type="text/javascript" src="/svgweb/svg.js" data-path="svgweb"></script>
{% if is_development %}
<script type="text/javascript" src="/js/development/prototype.js"></script>
<script type="text/javascript" src="/js/development/scriptaculous.js"></script>
{% else %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("prototype", "1.6.1.0");
  google.load("scriptaculous", "1.8.3");
</script>
{% endif %}
<script type="text/javascript" src="/js/jscolor/jscolor.js"></script>
<script type="text/javascript" src="/js/carousel-min.js"></script>
<script type="text/javascript" src="/js/beautybar.js"></script>
<script type="text/javascript" src="/js/lightbox.js"></script>
{% endif %}

{% if not is_development %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11875256-1");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}

{% if use_javascript %}
<link rel="stylesheet" href="/css/lightbox.css" type="text/css" media="screen" />
{% endif %}
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
<title>BeautyBar</title>
</head>
<body>

<div class="beautybar">
<table border="0" cellspacing="0" cellpadding="0">

<tr>
<td class="header_side"></td>
<td class="header">

<!-- header -->
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="hlogo" rowspan="2">
	<img class="himg" src="/images/logo.png">
      </td>
      <td class="hlogin" colspan="4">
	  {% if user %}
	  <b>{{ user.nickname }}</b> | <a href="{{ user_url }}">Sign out</a>
	  {% else %}
	  <a href="{{ user_url }}">Log in</a>
	  {% endif %}
      </td>
    </tr>
    <tr>
      <td class="hspace"></td>
      <td class="hbutton">
	<a href="/">
	  <img class="himg" src="/images/build_{{page.build}}.png" />
	</a>
      </td>
      <td class="hbutton">
	<a href="/learn">
	  <img class="himg" src="/images/learn_{{page.learn}}.png" />
	</a>
      </td>
      <td class="hbutton">
	<a href="/about">
	  <img class="himg" src="/images/about_{{page.about}}.png" />
	</a>
      </td>
    </tr>
  </table>

</td>
<td class="header_side"></td>
</tr>

<tr>
<td class="frame_tl"></td>
<td class="frame_vside"></td>
<td class="frame_tr"></td>
</tr>

<tr>
<td class="frame_side"></td>
<td class="frame">
<!-- frame -->

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="iframe_vside" colspan="3"></td>
    </tr>
    <tr>
      <td class="iframe_side"></td>

      <td class="iframe">
{% if complex %}
{% include template %}
{% else %}
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="main_vside" colspan="3"></td>
    </tr>
    <tr>
      <td class="main_side"></td>
      <td class="main">{% include template %}</td>
      <td class="main_side"></td>
    </tr>
    <tr>
      <td class="main_vside" colspan="3"></td>
    </tr>
  </table>
{% endif %}
      </td>

      <td class="iframe_side"></td>
    </tr>
    <tr>
      <td class="iframe_vside" colspan="3"></td>
    </tr>
  </table>

</td>
<td class="frame_side"></td>
</tr>

<tr>
<td class="frame_bl"></td>
<td class="frame_vside"></td>
<td class="frame_br"></td>
</tr>

</table>
</div>

</body>
</html>
