<html>
<head>
<title>BeautyBar</title>
</head>
<body>

<table width=1000>
<tr>
<td width=100 bgcolor=yellow></td>
<td width=800>

<div>
<h1>BeautyBar<br><font size="-1">nice graphs online</font></h1>
</div>

<table>
<tr>
<td valign=top width=400>
<!-- Data part -->
<h2>Data</h2>
<table>
<tr><td>
<table border=1 width=300>
<tr><th>Name</th><th>Value</th></tr>
{% for item in items %}
<tr><td>{{ item.name }}</td><td>{{ item.value }}</td></tr>
{% endfor %}
</table>
</td></tr>
<tr><td>
<form action="/" method="POST">
<table>
<tr>
<td><input type="text" name="f_savefile" value=""></td>
<td><input type="button" name="f_save"  value="Save"></td>
</tr>
<tr>
<td><input type="text" name="f_loadfile" value=""></td>
<td><input type="button" name="f_load"  value="Load"></td>
</tr>
<tr><td></td><td><input type="button" name="f_clean" value="Clean"></td></tr>
</table>
</form>
</td></tr>
</table>

</td>
<td valign=top width=400>

<!-- Graph part -->
<h2>Bar</h2>
<table>
<tr><td>
   <!-- image -->
<object data="/output_image" type="image/svg+xml" height="200" width="300" />
</td></tr>
<tr><td>
   <!-- choose graph type -->
<form action="/" method="POST">
<!-- TODO: loop through and show pictures -->
bars: <input type="radio" name="bartype" value="bars">
pie chart: <input type="radio" name="bartype" value="piechart">
</form>
</td></tr>
<tr><td>
   <!-- choose graph parameters -->
<form action="/" method="POST">
<!-- TODO: read from different template -->
<table>
<tr>
<td>background: </td><td><input type="file" name="g_bgimage" value=""></td>
</tr><tr>
<td>color: </td><td><input type="text" name="g_color" value="blue"></td>
</tr>
</table>
</td></tr>

</table>
</td>
</tr>
</table>

<hr />
DEBUG: {{ debug }}

</td>
<td width=100 bgcolor=yellow>
</td>
</tr>
</table>

</body>
</html>
