<tr>
<td colspan="2">

<h1>Notice</h1>
<p>
<i>BeautyBar</i> is not yet fully working product, so one should be aware
that <b>all data can be removed without notice</b>, and also lots of other
development with ui, internal logics, etc. will happend.
</p>

<h1>Purpose</h1>
<p>
Purpose of <i>BeautyBar</i> is to make one able to produce visually
attractive bar graphs in a simple way. These graphs can then be used to
make presentations and documents look more professional and nicer. Let's
not use always those old plain bar graphs in presentations!
</p>

</td>
</tr>
