
<h1>Learn to use <i>BeautyBar</i></h1>

<div class="video">

<object width="640" height="400"><param name="movie" value="http://www.youtube.com/v/_WYg84sRWUc&hl=en_US&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/_WYg84sRWUc&hl=en_US&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="400"></embed></object>
</div>

<br />

<i>BeautyBar</i> can be used for two purposes: 
<ul>
<li>To create nice chart with specific data 
(read more on <a href="/learn?page=basics">Basics</a>)</li>
<li>To create style for many bars (read more on
<a href="/learn?page=style">Style</a>).</li>
</ul>
