
<div class="textpage">

<h2>Basics</h2>

Basic use of <i>BeautyBar</i> means creating nice bar chart by using
tools provided. This chart can then be used in blogs, part of presentations
or documentation. Following steps are required to make chart:

<h3>Building chart layout</h3>
<p>
In basic use one should first choose chart
template type from list. When templates is active, one can finetune it
from <i>style</i> section to meet his needs.
</p>

<h3>Setting data</h3>
<p>
Next one needs to change default datas to new ones.
This can be done either by modifying spread sheet in <i>data</i> section,
or by importing data in CSV (<i>comma separated values</i>) format in
<i>file</i> section.
</p>

<h3>Exporting chart</h3>
<p>
Final part of process is exporting created chart. This can be done by
clicking <i>Export as SVG</i> or <i>Export as PNG</i> in <i>style</i>
section. Then the chart is ready to be use in all kind of presentations.
One can also save the chart to be able to modify it in the future.
<i>save</i> and <i>load</i> can be found from <i>file</i> section.
</p>

<a href="/learn">Back</a>

</div>
