<small><a href="/learn">Learn</a></small>

<h1>Styles</h1>

<p>
Once one have succesfully created one chart, he can use its layout
as a template layout (aka. style) for other charts. This is done by using 
<i>Google Chart API</i>
(<a href="http://code.google.com/apis/chart/"><i>http://code.google.com/apis/chart/</i></a>). 
One should have save chart to database. Then one can create URL following 
chart API specification and using saved chart name as chart name parameter
(<i>cht</i>). This produces <i>SVG</i> image with old style, but 
with new data.
</p>
<p>
For example: <a href="/chart?cht=def&chd=t:10,11,12,13,14,20&chs=250x100&chl=Hello|World|a|b|helo|worl">http://<i>host</i>/chart?cht=def&chd=t:10,11,12,13,14,20&chs=250x100&chl=Hello|World|a|b|helo|worl</a>
</p>
<b>Styles are heavily under construction.</b>
</p>
