<small><a href="/learn">Learn</a></small>

<h1>Basics</h1>

Basic use of <i>BeautyBar</i> means creating nice bar chart by using
tools provided. This chart can then be used in blogs, part of presentations
or documentation. Following steps are required to make chart:

<h3>Setting data</h3>
<p>
In basic use one should first change default datas to new ones.
This can be done either by clicking chart fields under data section
and writing data values and names there, or by importing data in
CSV (<i>comma separated values</i>) format. Import file should have
six rows with two values each row comma separated.
</p>

<h3>Building chart layout</h3>
<p>
Next one starts to build the chart. It is done by choosing chart
template type from list. Templates have options that can are shown
when template is active. One can use options to finetune template
to meet his needs.
</p>

<h3>Saving results</h3>
<p>
Final part of process is saving and using created chart. Currently
it is only possible to save the <i>preview</i> image from page with 
browser tools: right click and save as. The image is in <i>SVG</i>
format and can be included in all kind of presentations. One can
also save data and layout to <i>BeautyBar</i> database by choosing
a name and clicking <i>Save</i>, and load by clicking <i>Load</i>.
This makes it possible to continue working later on.
</p>
