<small><a href="/learn">Learn</a></small>

<h1>Styles</h1>

<p>
Once one have succesfully created one chart, he can use its layout
as a template layout (aka. style) for other charts. This is done by using 
<i>Google Chart API</i>
(<a href="http://code.google.com/apis/chart/"><i>http://code.google.com/apis/chart/</i></a>). 
One should have save chart to database. Then one can create URL following 
chart API specification and using saved chart name as chart name parameter
(<i>cht</i>). This produces <i>SVG</i> image with old style, but 
with new data.
</p>
<p>
For example <i>Finnish goverment debt</i> is: <br />
<a href="/chart?cht=grey&chd=t:65.7,65.7,63.2,63.1,70.6,62.9&chs=300x200&chl=2005|2006|2007|2008|Q1-09|Q2-09">http://beauty-bar.appspot.com/chart?cht=grey&chd=t:65.7,65.7,63.2,63.1,70.6,62.9&chs=300x200&chl=2005|2006|2007|2008|Q1-09|Q2-09</a>
</p>
<b>Styles are heavily under construction.</b>
</p>
