<div class="textpage">

<h2>Learn to use <i>BeautyBar</i></h2>

<table border="0" cellspacing="0" cellpadding="0">
<tr>

<td class="learn_video">
<object width="640" height="400"><param name="movie" value="http://www.youtube.com/v/_WYg84sRWUc&hl=en_US&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/_WYg84sRWUc&hl=en_US&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="400"></embed></object>
</td>

<td class="learn_info">
<p><i>BeautyBar</i> can be used for two purposes:</p>
<h3>Chart</h3>
<p>To build a single nice chart with specific data.
<br />
See <a href="/learn?page=basics">Basics</a>
</p>
<h3>Style</h3>
<p>To create a style, which can be used as template
for all kind of charts.
<br />
See <a href="/learn?page=style">Style</a>
</p>
</td>

</tr>
</table>

</div>
