  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="build_list" colspan="3">

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="bl_button" rowspan="3">
	<a href="javascript:" class="carousel-control" rel="prev">
	  <img src="/images/left.png">
	</a>
      </td>
      <td class="bl_carousel">

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="bl_vside" colspan="3"></td>
    </tr>
    <tr>
      <td class="bl_sep"></td>
      <td class="bl_carousel_items">

      <div id="carousel-wrapper">
	<div id="carousel-content">

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
{% for gen in generators %}
      <td class="bl_li">
	<div class="slide">
<a href="javascript:" onclick="attr.set_generator('{{ gen.get_name }}');">
            <img class="list_image" src="/images/{{ gen.get_name }}-small.png" alt="{{ gen.get_ui_name }}" width="100" height="80" />
          </a>
	</div>
      </td>
      {% if not forloop.last %}
      <td class="bl_sep"></td>
      {% endif %}
{% endfor %}
    </tr>
  </table>

	</div>
      </div>

    </td>
      <td class="bl_sep"></td>
    </tr>
    <tr>
      <td class="bl_vside" colspan="3"></td>
    </tr>
  </table>

      <td class="bl_button" rowspan="3">
	<a href="javascript:" class="carousel-control" rel="next">
	  <img src="/images/right.png">
	</a>
      </td>
    </tr>
  </table>

      </td>
    </tr>
    <tr>
      <td class="build_vsep" colspan="3"></td>
    </tr>
    <tr>
      <td class="build_preview">

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="bp_space" colspan="3"></td>
    </tr>
    <tr>
      <td class="bp_vside" colspan="3"></td>
    </tr>
    <tr>
      <td class="bp_side"></td>
      <td class="bp_main">
	<span id="part_info"></span>
	<div id="preview_frame">
	  <span id="preview_show"></span>
	  <span style="display: none;" id="preview_load">
<img src="/images/loader.gif" alt="loading" width="200" height="200" />
	  </span>
	</div>
      </td>
      <td class="bp_side"></td>
    </tr>
    <tr>
      <td class="bp_vside" colspan="3"></td>
    </tr>
  </table>

      </td>
      <td class="build_hsep"></td>
      <td class="build_edit">

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="be_header" colspan="3">

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="beh_space"></td>
      <td class="beh_button">
	<a href="javascript:">
<img class="himg" src="/images/style_on.png" alt="style" onclick="process_button('style');" id="style_img" />
	</a>
      </td>
      <td class="beh_button">
	<a href="javascript:">
<img class="himg" src="/images/data_off.png" alt="data" onclick="process_button('data');" id="data_img" />
	</a>
      </td>
      <td class="beh_sep"></td>
      <td class="beh_button">
	<a href="javascript:">
<img class="himg" src="/images/file_off.png" alt="file" onclick="process_button('file');" id="file_img" />
	</a>
      </td>
      <td class="beh_space"></td>
    </tr>
  </table>

      </td>
    </tr>
    <tr>
      <td class="be_vside" colspan="3"></td>
    </tr>
    <tr>
      <td class="be_side"></td>
      <td class="be_main">
	<span id="part_edit"></span>
      </td>
      <td class="be_side"></td>
    </tr>
    <tr>
      <td class="be_vside" colspan="3"></td>
    </tr>
  </table>

      </td>
    </tr>
  </table>
