<!-- main part -->
<tr>
  <td class="green width_bar"></td>
  <td class="yellow width_bar"></td>
  <td class="green width_bar"></td>
  <td class="white width_most">

    <table class="width_most" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="green" colspan="2"><div class="height_bar"></div></td>
      <td class="yellow"></td>
      <td class="green" colspan="3"><div class="height_bar"></div></td>
      <td class="yellow"></td>
      <td class="green" colspan="2"><div class="height_bar"></div></td>
    </tr>
    <tr>
      <td class="width_medium">
	<!-- main / style info -->
	<span id="part_info"></span>
      </td>
      <td class="green width_bar"></td>
      <td class="yellow width_bar"></td>
      <td class="green width_bar"></td>
      <td class="width_half">
	<div class="height_preview">
	  <h2>Preview</h2>
	<!-- main / preview -->
	<span class="preview_image" id="output_image"></span>
	</div>
      </td>
      <td class="green width_bar"></td>
      <td class="yellow width_bar"></td>
      <td class="green width_bar"></td>
      <td class="width_small">
	<!-- main / style list -->
	<span id="part_list"></span>
      </td>
    </tr>
    <tr>
      <td class="green" colspan="2"><div class="height_bar"></div></td>
      <td class="yellow"></td>
      <td class="green" colspan="3"></td>
      <td class="yellow"></td>
      <td class="green" colspan="2"></td>
    </tr>
    </table>

  </td>
  <td class="green width_bar"></td>
  <td class="yellow width_bar"></td>
  <td class="green width_bar"></td>
</tr>

<!-- space -->
<tr>
  <td class="green"></td>
  <td class="yellow" colspan="5"><div class="height_bar"></div></td>
  <td class="green"></td>
</tr>
<tr><td class="green" colspan="7"><div class="height_bar"></div></td></tr>
<tr>
  <td class="green"></td>
  <td class="yellow" colspan="5"><div class="height_bbuttons">
      <table class="width_full" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="width_edge"></td>
        <td class="width_bbutton">
	  <img class="bbutton" src="/images/data_off.png" alt="data" 
	       onclick="process_button('data');" />
	</td>
        <td class="width_bbutton">
	  <img class="bbutton" src="/images/style_off.png" alt="style"
	       onclick="process_button('style');" />
	</td>
        <td class="width_bbspace"></td>
        <td class="width_bbutton">
	  <img class="bbutton" src="/images/file_off.png" alt="file"
	       onclick="process_button('file');" />
	</td>
        <td class="width_edge"></td>
      </tr>
      </table>
  </div></td>
  <td class="green"></td>
</tr>

<!-- data part -->
<tr>
  <td class="green"></td>
  <td class="yellow"></td>
  <td class="green"></td>
  <td class="white">

    <table class="width_most" cellspacing="0" border="0" cellpadding="0">
    <tr><td class="green"><div class="height_bar"></div></td></tr>
    <tr>
      <td>
	<div class="data">
	<!-- data content -->
	<span id="part_edit"></span>
	</div>
      </td>
    </tr>
    <tr><td class="green"><div class="height_bar"></div></td></tr>
    </table>

  </td>
  <td class="green"></td>
  <td class="yellow"></td>
  <td class="green"></td>
</tr>
