<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<script type="text/javascript">

show_image = function(cookie) {
  var obj = document.getElementById(cookie + "_span");
  obj.innerHTML = "<object data=\"/admin/preview?cookie=" + cookie + "\" " +
                  "type=\"image/svg+xml\" height=\"200\" width=\"300\" />";
};

</script>
<title>Admin / View sessions</title>
</head>
<body>

<h1>Admin / View sessions</h1>

<table border="1">

{% for row in sessions|tablecols:3 %}
<tr>
{% for session in row %}
<td valign="top"><h3>session: {{ session.name }}</h3>
IP address: {{ session.ip_address }}<br />
<span id="{{ session.cookie }}_span">
[ <a href="javascript:" onclick="show_image('{{ session.cookie }}');" >Show image</a> ]
</span>
</td>
{% endfor %}
</tr>
{% endfor %}

</table>

<hr />

</body>
</html>
